* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;

    background-color: #1A2130;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}